.footer{
  width: 100%;
  height: 200px;
  background: #28304A;
  overflow: hidden;
  ul{
    height:30px;
    line-height:30px;
    font-size:16px;
    font-weight:400;
    text-align: center;
    margin-top: 62px;
    a{
      color: #fff;
      cursor: pointer;
      transition: all 0.3s;
    }
    li{
      display: inline-block;
      &::after{
        content: '/';
      }
      &:last-child{
        &::after{
          content: '';
        }
      }
      &:hover{
        a{color: rgba(1,152,249,1);}
      }
    }
  }
  .cryp{
    margin-top: 30px;
    text-align: center;
  }
}